{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Новости</h1>
   <h3>Всего новостей:  {{ posts|length|default_if_none:"0" }}</h3>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Краткий текст</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_create|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Нет новостей</h2>
   {% endif %}
{% endblock content %}